.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}
.container > div {
  padding: 0.5rem;
  background-color: whitesmoke;
}

.header {
  background-image: linear-gradient(to right, darkgray, mediumturquoise);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.header h1 {
  text-align: center;
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;
  transition: 0.5s ease-out;
}
img:hover {
  box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
}
